
{% extends "base.html" %}

{% block content %}

{% with messages =
  get_flashed_messages(with_categories=true) %} {% if messages %}
  <div class="container mt-3">
    {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show d-flex justify-content-between"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}



<h1>Register User</h1>
<form method="POST">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="role">Role:</label>
        <select class="form-control" id="role" name="role" required>
            <option value="Admin">Admin</option>
            <option value="Teacher">Teacher</option>
            <option value="Student">Student</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}